/* Resetear márgenes y rellenos para varios elementos */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Estilos para el fondo del cuerpo de la página */
body {
    background-image: url('fondoGaming.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

h1 {
    font-size: 40px;
    color: rgba(255, 68, 0, 0.884);
    margin-top: 20px;
}

h2 {
    font-size: 30px;
    color: rgba(255, 68, 0, 0.884);
    margin: 10px 0;
}

nav {
    text-align: center;
    margin: 10px 0;
}

.navbar {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.navbut {
    font-size: 30px;
    color: orangered;
    margin: 0 10px;
}

hr {
    margin-bottom: 20px;
}

p {
    font-size: 20px;
    color: aliceblue;
}

ul {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
}

.text-overlay {
    font-size: 25px;
    color: aliceblue;
    text-align: center;
}

.text-overlay a {
    color: inherit;
    text-decoration: none;
}

footer {
    font-size: 25px;
    color: orangered;
    background-color: #f8f8f8;
    padding: 15px;
    text-align: center;
    border-top: 2px solid #ccc;
    margin-top: 20px;
}

#footer p {
    font-size: 23px;
    color: orangered;
    margin: 10px 0;
}

#footer img {
    width: 250px;
    height: 200px;
    display: block;
    margin: 0 auto;
}
